

body{
    background: blue;
    margin: 0px;
    padding: 0px;
}

#frame2{
    border-radius: 25px;
    background-color: white;
    margin: 50px;
}

#rounded_box{
border-radius: 25px;
background: lightblue;
padding: 0px; 
width: 100px;
height: 50px;
}  